{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}

{% block content_outside_container %}
    <div class="container">
        <h1 class="text-md-left text-center pt-4">{% trans "Confirm E-mail Address" %}</h1>
        <br>
        <div class="row">
            <div class="col-12">
                {% if confirmation %}
                    {% user_display confirmation.email_address.user as user_display %}
                    <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that
                        <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user
                        <b>{{ user_display }}</b>
                    {% endblocktrans %}</p>
                    <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                        {% csrf_token %}
                        <button class="btn btn-primary w-100" type="submit">{% trans 'Confirm' %}</button>
                    </form>
                {% else %}
                    {% url 'account_email' as email_url %}
                    <p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please
                        <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
