{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-md-left text-center pt-4">{% trans "Password Reset" %}</h1>
        <br>
        <div class="row">
            <div class="col-12 col-md-5">
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few
                    minutes.{% endblocktrans %}</p>
            </div>
        </div>
    </div>
{% endblock %}
