{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content_outside_container %}
    <div class="container">
        <h1 class="text-md-left text-center pt-4">{% trans "Password Reset" %}</h1>
        <br>
        <div class="row">
            <div class="col-12 col-md-5">

                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" class="btn btn-primary" value="{% trans 'Reset My Password' %}"/>
                </form>
                <br>
                <p>{% blocktrans %}Please contact us if you have any trouble resetting your
                    password.{% endblocktrans %}</p>
            </div>
        </div>
    </div>
{% endblock %}
