{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content_outside_container %}
    <div class="container">
        <h1 class="text-md-left text-center pt-4">{% trans "Verify Your E-mail Address" %}</h1>
        <br>
        <div class="row">
            <div class="col-12">
                <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize
                    the signup process. Please contact us if you do not receive it within a few
                    minutes.{% endblocktrans %}</p>
            </div>
        </div>
    </div>
{% endblock %}
