{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content_outside_container %}
    <section class="container pt-3">
        <h1 class="text-md-left text-center pt-4">Dashboard</h1>
        <h2 class="text-center" id="digital-time-div"></h2>
        <br>
        <div class="row">
            <div class="col-12" id="alert-danger-col" style="display: none">
                <div class="alert alert-danger" role="alert">
                    <div id="alert-danger-text"></div>
                </div>
            </div>
            <div class="col-12" id="alert-success-col" style="display: none">
                <div class="alert alert-success" role="alert">
                    <div id="alert-success-text"></div>
                </div>
            </div>
            <div class="col-12" id="modal-col" style="display: none">
                <div class="modal fade" id="rfq-modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">RFQ Confirmation</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body" id="rfq-modal-body">
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="rfq-modal-accept-btn" class="btn btn-success">Accept</button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Decline</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <h2 class="pb-3">Balances</h2>
                <div class="row" id="balance-data-row">
                    {% if balance_data %}
                        {% for currency, balance in balance_data.items %}
                            <div class="col-6 col-md-3">
                                <p>{{ balance }} <span style="font-weight: bold">{{ currency }}</span></p>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>Looks like we couldn't fetch any balance data, try again later.</p>
                    {% endif %}
                </div>
                <hr>
                <div class="col-12">
                    <h2 class="pb-3">RFQ</h2>
                    <form id="rfq-form" action="{% url "order_engine:rfq_handler" %}">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <br>
                        <button id="rfq-form-btn" class="btn btn-primary" type="submit">RFQ</button>
                        <button id="get-open-positions-btn" class="btn btn-warning">Get Open Positions</button>
                    </form>
                </div>
                <br>
            </div>
    </section>
{% endblock %}