{% load static %}

<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
{% include 'nav.html' %}
<br>
<section>
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-12">
                <br>
                <div class="text-center">
                    <img style="max-width: 100%" src="{% static 'img/something_went_wrong.png' %}" alt="Something went wrong">
                </div>
                <br>
                <h1 class="text-center" style="font-size: 400%">404 Not Found</h1>
                <br>
                <h2 class="text-center">Oops, looks like you landed in an unknown place! &#128566;</h2>
            </div>
        </div>
    </div>
</section>
{% include 'final_imports.html' %}
</body>
</html>
