{% load static %}

<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
{% include 'nav.html' %}
<br>
<section>
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-12">
                <br>
                <div class="text-center">
                    <img style="max-width: 100%" src="{% static 'img/something_went_wrong.png' %}"
                         alt="Something went wrong">
                </div>
                <br>
                <h2 class="text-center">Oops, there was an error from our side! &#128566;</h2>
                <h2 class="text-center">We'll work on it asap!</h2>
            </div>
        </div>
    </div>
</section>
{% include 'final_imports.html' %}
</body>
</html>
