{% load static %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Reuben Ferrante">
    <title>B2C2 Test</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <!-- Favicons -->
    <link rel="icon" href="{% static 'img/b2c2_favicon_v1.webp' %}" sizes="32x32" type="image/png">
    <meta name="theme-color" content="#7952b3">
</head>

{% block imports_after_head_before_body %}
{% endblock %}

<body>

<section class="bg-dark">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="{% static "img/b2c2_favicon_v1.webp" %}" width="30" height="30" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        {% if user.is_authenticated %}
                            <li class="nav-item"><a
                                    class="nav-link"
                                    href="{% url 'account_logout' %}">Logout</a></li>
                        {% else %}
                            <li class="nav-item"><a
                                    class="nav-link"
                                    href="{% url 'account_login' %}">Sign In</a></li>
                            <li class="nav-item"><a
                                    class="nav-link"
                                    href="{% url 'account_signup' %}">Join</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</section>


<div class="container">
    {% include 'messages.html' %}
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</div>


{% block content_outside_container %}
{% endblock %}

{% include 'final_imports.html' %}

{% block final_js_script %}
{% endblock %}

</body>
</html>