{% if messages %}
    <br>
{% endif %}
{% for message in messages %}
    <div class="alert alert-{{ message.extra_tags }} alert-dismissible fade show" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        {{ message }}
    </div>
{% endfor %}